In [1]:
#TOPIC: String Based Assignment Problem

In [2]:
#1. Write a program to reverse a string.
strr1 = input()
#reverse the string
strrev = strr1[::-1]
print(f"reverse string : {strrev}")

 My name is Darwin Nunez

reverse string : zenuN niwraD si eman yM

In [3]:
#2. Check if a string is a palindrome.
strr2 = input()
#reverse the string
strrevv = strr2[::-1]
if strrevv == strr2:
    print(f"String is palindrome")
else:
    print(f"String is not palindrome")

 madam

String is palindrome

In [4]:
#3. Convert a string to uppercase.
strup = input()
strupp = strup.upper()
print(f"upper case string : {strupp}")

 my name is mbappe

upper case string : MY NAME IS MBAPPE

In [5]:
#4. Convert a string to lowercase.
strlc = input()
strlcc = strup.lower()
print(f"LOWER case string : {strlcc}")

 MY NAME IS MBAPPE

LOWER case string : my name is mbappe

In [6]:
#5. Count the number of vowels in a string.
strv = input()
vowels = 'AEIOUaeiou'
count  = 0
for char in strv:
    if char in vowels:
        count = count + 1
print(f"no of vowels in string : {count}")

 My name is Vineet Bhoge

no of vowels in string : 8

In [7]:
#6. Count the number of consonants in a string.
strc = input()
vowels = 'AEIOUaeiou'
count  = 0
for char in strc:
    if char.isalpha() and char not in vowels:
        count = count + 1
print(f"no of consonants in string : {count}")

 My name is Vineet Bhoge

no of consonants in string : 11

In [8]:
#7. Remove all whitespaces from a string.
strw = input()
strws = strw.replace(' ','')
print(f" string without spaces : {strws}")

 My name is Vineet Bhoge

 string without spaces : MynameisVineetBhoge

In [9]:
#8. Find the length of a string without using the `len()` function.
strl = input()
count = 0
for char in strl:
    count = count + 1
print(f" Lenght of string : {count}")

 My name is Vineet Bhoge

 Lenght of string : 23

In [10]:
#9. Check if a string contains a specific word.
strsw = input()
strss = input()
if strss in strsw:
        print(f"Present in string")
else:
        print(f"Not present in string")

 My name is Lionel Messi
 name

Present in string

In [12]:
#10. Replace a word in a string with another word.
strst = input()
strp = input()
strrp = input()
l = strst.split()
a = len(l)
for i in range (0,a):
    if l[i] == strp:
        l[i] = strrp
sen = ' '.join(l)
print(sen)

 My name is Mohini Patil
 Patil
 Bhoge

My name is Mohini Bhoge

In [14]:
#11. Count the occurrences of a word in a string.
stro = input()
strc = input()
count = 0
l1 = stro.split()
b = len(l1)
for i in range(0,b):
    if l1[i] == strc:
        count = count+1
print(f"no of occurence : {count}")

 my name is my name not your name
 name

no of occurence : 3

In [17]:
#12. Find the first occurrence of a word in a string.
strof = input()
strfd = input()
c = strof.find(strfd)
if c!=-1:
    print(f"Word is present at this index : {c}")
else:
     print(f"Word not found")

 my name is vineet bhoge
 bhoge

Word is present at this index : 18

In [18]:
#13. Find the last occurrence of a word in a string.
strlo = input()
strfdlo = input()
d = strlo.rfind(strfdlo)
if d!=-1:
    print(f"Word is present at this index : {d}")
else:
     print(f"Word not found")

 my name is vineet name
 name

Word is present at this index : 18

In [19]:
#14. Split a string into a list of words.
stl = input()
ll = stl.split()
print(ll)

 My name is Muthai Muralidharan

['My', 'name', 'is', 'Muthai', 'Muralidharan']

In [20]:
#15. Join a list of words into a string.
li = input().split()
print(li)
e = ' '.join(li)
print(e)

 my name is vini jnr

['my', 'name', 'is', 'vini', 'jnr']
my name is vini jnr

In [21]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
strsp = input()
strj = strsp.replace(' ','_')
print(strj)

 my name is vineet bhoge

my_name_is_vineet_bhoge

In [22]:
#17. Check if a string starts with a specific word or phrase.
strsw = input()
strp = input()
if strsw.startswith(strp):
    print(f"String start with phrase")
else:
    print(f"String does not start with phrase")

 Dimaria scores a goal
 Dimaria

String start with phrase

In [23]:
#18. Check if a string ends with a specific word or phrase.
strew = input()
strep = input()
if strew.endswith(strep):
    print(f"String end with phrase")
else:
    print(f"String does not end with phrase")

 My name is Nico Gonzales
 Gonzales

String end with phrase

In [24]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
strt = input()
strtt = strt.title()
print(strtt)

 my name is fedrico chesia

My Name Is Fedrico Chesia

In [26]:
#20. Find the longest word in a string.
stlo = input()
low = stlo.split()
co = max(low,key=len)
print(co)

 my name is vinicius njr

vinicius

In [29]:
#21. Find the shortest word in a string.
stsh = input()
short = stsh.split()
cot = min(short,key=len)
print(cot)

 My name is vinicius jnr

My

In [32]:
#22. Reverse the order of words in a string.
strrod = input().split()
ls = strrod[::-1]
sl = ' '.join(ls)
print(sl)

 My name is Lautaro Martinez

Martinez Lautaro is name My

In [39]:
#23. Check if a string is alphanumeric.
stran = input()
stran.isalnum()

 S1032191273

True

In [40]:
#24. Extract all digits from a string.
strn = input()
digi = ''.join(char for char in strn if char.isdigit())
print(digi)

 My12 Name 34

1234

In [41]:
#25. Extract all alphabets from a string.
stra = input()
alp = ''.join(char for char in stra if char.isalpha())
print(alp)

 my12 name 34 vinee66

mynamevinee

In [43]:
#26. Count the number of uppercase letters in a string.
strup = input()
up = ''.join(char for char in strup if char.isupper())
print(up)
lup = len(up)
print(lup)

 My name Is Vineet Bhoge

MIVB
4

In [44]:
#27. Count the number of lowercase letters in a string.
strlw = input()
lw = ''.join(char for char in strlw if char.islower())
print(lw)
llc = len(lw)
print(llc)

 My name is Vineet Bhoge

ynameisineethoge
16

In [45]:
#28. Swap the case of each character in a string.
strsc = input()
strswc = strsc.swapcase()
print(strswc)

 My name is Vineet Bhoge

mY NAME IS vINEET bHOGE

In [49]:
#29. Remove a specific word from a string.
strst = input()
strstt = input()
fwr = ( word for word in strst.split() if word!=strstt)
fwrj = ' '.join(fwr)
print(fwrj)

 My name is Vineet D Bhoge
 Bhoge

My name is Vineet D

In [50]:
#30. Check if a string is a valid email address.
import re
emailstr = input()
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
if re.match(pattern,emailstr):
    print(f"Valid email id")
else:
    print(f"Not valid email id")

 vineetbhoge15@gmail.com

Valid email id

In [53]:
#31. Extract the username from an email address string.
emailstrr = input()
mail = emailstrr.split('@')
print(mail[0])

 vineetbhoge15@gmail.com

vineetbhoge15

In [54]:
#32. Extract the domain name from an email address string.
emailstrrr = input()
mail = emailstrrr.split('@')
print(mail[1])

 vineetbhoge15@gmail.com

gmail.com

In [55]:
#33. Replace multiple spaces in a string with a single space.
rstr = input().split()
sstr = ' '.join(rstr)
print(sstr)

 my name  is   vineet    bhoge

my name is vineet bhoge

In [56]:
#34. Check if a string is a valid URL.
import re
url = input()
urlpattern = r'^(https?://)?(www\.)?([a-zA-Z0-9-]+\.[a-zA-Z]{2,})(/[^\s]*)?$'
if re.match(urlpattern,url):
    print(f"Valid URL")
else:
    print(f"Not valid URL")

 https://example.com

Valid URL

In [58]:
#35. Extract the protocol (http or https) from a URL string.
urlp = input()
urlproto = urlp.split(':')
print(urlproto[0])

 https://example.com

https

In [59]:
#36. Find the frequency of each character in a string.
freq = {}
stl = input()
for char in stl:
    if char in freq:
        freq[char] +=1
    else:
        freq[char] =1
print(freq)

 My name is Vineet Bhoge

{'M': 1, 'y': 1, ' ': 4, 'n': 2, 'a': 1, 'm': 1, 'e': 4, 'i': 2, 's': 1, 'V': 1, 't': 1, 'B': 1, 'h': 1, 'o': 1, 'g': 1}

In [65]:
#37. Remove all punctuation from a string.
import string
trans = input()
tstb = str.maketrans('' , '',string.punctuation)
cstrg = trans.translate(tstb)
print(cstrg)

 My! name@ is#

My name is

In [67]:
#38. Check if a string contains only digits.
nu = input()
nu.isdigit()

 103219

True

In [68]:
#39. Check if a string contains only alphabets.
na = input()
na.isalpha()

 Water

True

In [72]:
#40. Convert a string to a list of characters.
alphal = []
ap = input()
for char in ap:
    alphal.append(char)
print(alphal)

 My name is Locateli

['M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'L', 'o', 'c', 'a', 't', 'e', 'l', 'i']

In [73]:
#41. Check if two strings are anagrams.
ip1 = input()
ip2 = input()
lip1 = ip1.replace(' ','').lower()
lip2 = ip2.replace(' ','').lower()
if sorted(lip1) == sorted(lip2):
    print(f'Are anagrams')
else:
    print(f'Not anagrams')

 listen
 silent

Are anagrams

In [83]:
#42. Encode a string using a Caesar cipher.
cc = input()
sv = int(input())
ccs = ''
for char in cc:
    if char.isalpha():
        sc = chr((ord(char) - ord('a') + sv)% 26 + ord('a'))
        ccs = ccs+sc
print(ccs)

 abc
 1

bcd

In [86]:
#43. Decode a Caesar cipher encoded string.
ds = input()
svv = int(input())
dss =''
for char in ds:
    if char.isalpha():
        cs = chr((ord(char) - ord('a') - svv)% 26 + ord('a'))
        dss = dss+cs
print(dss)

 abc
 1

zab

In [87]:
#44. Find the most frequent word in a string.
fw = input().split()
ft = {}
for word in fw:
    if word in ft:
        ft[word] +=1
    else:
        ft[word] = 1
mfw = max(ft,key=ft.get)
print(mfw)   
print(ft[mfw])

 my name is my name none of your name

name
3

In [88]:
#45. Find all unique words in a string.
uw = input().split()
usl =[]
for word in uw:
    if word not in usl:
        usl.append(word)
print(usl)

 My name is Vineet is name My

['My', 'name', 'is', 'Vineet']

In [89]:
#46. Count the number of syllables in a string.
import re
sy = input().split()
ts = 0
sp = re.compile(r'[aeiouy]+')
for word in sy:
    word = word.lower()
    syll = sp.findall(word)
    ts += len(syll)
print(ts)

 My name is Vineet Bhoge

8

In [90]:
#47. Check if a string contains any special characters.
import string
sc = input()
if any(char in string.punctuation for char in sc):
    print('present')
else:
    print('not present')

 My name is !

present

In [93]:
#48. Remove the nth word from a string.
pp = input().split()
print(pp)
ind = int(input())
pp.pop(ind)
pp
pps = ' '.join(pp)
print(pps)

 My name is Teeniv Vineet Bhoge

['My', 'name', 'is', 'Teeniv', 'Vineet', 'Bhoge']

 3

My name is Vineet Bhoge

In [95]:
#49. Insert a word at the nth position in a string.
ppi = input().split()
print(ppi)
indi = int(input())
indw = input()
ppi.insert(indi,indw)
ppi
ppsi = ' '.join(ppi)
print(ppsi)

 My name is Vineet Bhoge

['My', 'name', 'is', 'Vineet', 'Bhoge']

 3
 Teeniv

My name is Teeniv Vineet Bhoge

In [96]:
#50. Convert a CSV string to a list of lists.
import csv
from io import StringIO
csvstr = ''' Product,Price,Quantity
Apple,0.50,100
Banana,0.30,150
Orange,0.80,200
Grapes,2.00,50 '''
cst = StringIO(csvstr)
csr = csv.reader(cst)
cl = list(csr)
print(cl)

[[' Product', 'Price', 'Quantity'], ['Apple', '0.50', '100'], ['Banana', '0.30', '150'], ['Orange', '0.80', '200'], ['Grapes', '2.00', '50 ']]

In [97]:
#List Based Practice Problem

In [5]:
#1. Create a list with integers from 1 to 10.
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#2. Find the length of a list without using the `len()` function.
l1=input().split()
count = 0
for word in l1:
    count = count+1
print(count)

 My name is Vineet Bhoge

5

In [7]:
#3. Append an element to the end of a list.
l2 = input().split()
ele = input()
l2.append(ele)
print(l2)

 My name is Vineet
 Bhoge

['My', 'name', 'is', 'Vineet', 'Bhoge']

In [8]:
#4. Insert an element at a specific index in a list.
l3 = input().split()
ind = int(input())
el = input()
l3.insert(ind,el)
print(l3)

 My name is Vineet Bhoge
 3
 Teeniv

['My', 'name', 'is', 'Teeniv', 'Vineet', 'Bhoge']

In [14]:
#5. Remove an element from a list by its value.
l5 = input().split()
val = input()
z = l5.index(val)
l5.pop(z)
print(l5)

 My name is Teeniv
 is

['My', 'name', 'Teeniv']

In [11]:
#6. Remove an element from a list by its index.
l4 = input().split()
indi = int(input())
l4.pop(indi)
print(l4)

 My name is Teeniv Vineet
 3

['My', 'name', 'is', 'Vineet']

In [15]:
#7. Check if an element exists in a list.
l6 = input().split()
elem = input()
if l6.index(elem):
    print('Exists')
else:
    print('Not Exists')

 My name is Teeniv Egohb
 Teeniv

Exists

In [17]:
#8. Find the index of the first occurrence of an element in a list.
l7 = input().split()
eleme = input()
l7.index(eleme)

 My name is Teeniv Egohb
 Egohb

4

In [19]:
#9. Count the occurrences of an element in a list.
l8 = input().split()
elemen = input()
l8.count(elemen)

 my name is name of my name our name
 name

4

In [20]:
#10. Reverse the order of elements in a list.
l9 = input().split()
l9r = l9[::-1]
print(l9r)

 My name is Vineet Bhoge

['Bhoge', 'Vineet', 'is', 'name', 'My']

In [27]:
#11. Sort a list in ascending order.
l10 = input().split()
l10 = [int(num) for num in l10]
lenl10 = len(l10)
for i in range(lenl10):
    for j in range(0,lenl10-i-1):
        if l10[j]>l10[j+1]:
            l10[j],l10[j+1] = l10[j+1],l10[j]
print(l10)

 1 3 5 7 9 2 10 8 6

[1, 2, 3, 5, 6, 7, 8, 9, 10]

In [29]:
#12. Sort a list in descending order.
l11 = input().split()
l11 = [int(num) for num in l11]
lenl11 = len(l11)
for i in range(lenl10):
    for j in range(0,lenl11-i-1):
        if l11[j]<l11[j+1]:
            l11[j+1],l11[j] = l11[j],l11[j+1]
print(l11)

 1 3 5 7 9 10 2 6

[10, 9, 7, 6, 5, 3, 2, 1]

In [31]:
#13. Create a list of even numbers from 1 to 20.
l12=[]
for i in range(1,20):
    if i%2 == 0:
        l12.append(i)
print(l12)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
#14. Create a list of odd numbers from 1 to 20.
l13=[]
for i in range(1,20):
    if i%2 != 0:
        l13.append(i)
print(l13)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [34]:
#15. Find the sum of all elements in a list.
l14 = input().split()
l14 = [int(num) for num in l14]
lenl14 = len(l14)
sum = 0
for i in range(0,lenl14):
    sum += l14[i]
print(sum)

 1 3 5 7 2

18

In [45]:
#16. Find the maximum value in a list.
l15 = input().split()
l15 = [int(num) for num in l15]
lenl15 = len(l15)
num = 0
for i in range(0,lenl15):
    if num < l15[i]:
        num = l15[i]
print(num)

 1 6 3 9 8

9

In [47]:
#17. Find the minimum value in a list.
l16 = input().split()
l16 = [int(numm) for numm in l16]
lenl16 = len(l16)
numm = l16[0]
for i in range(0,lenl16):
    if numm > l16[i]:
        numm = l16[i]
print(numm)

 5 9 2 3 7 8 1

1

In [49]:
#18. Create a list of squares of numbers from 1 to 10.
l17 = []
nu = 0 
for i in range(1,11):
    nu = i*i
    l17.append(nu)
print(l17)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
#19. Create a list of random numbers.
import random
hmn = int(input())
rn = [random.randint(1,100)  for _ in range (hmn)]
print(rn)

 10

[45, 78, 40, 14, 61, 51, 68, 77, 58, 53]

In [59]:
#20. Remove duplicates from a list.
l18 = input().split()
l18 = [int(numm) for numm in l18]
s = set(l18)
s1 = list(s)
print(s1)

 1 6 2 5 4 3 2 6 5 4 1 2 3

[1, 2, 3, 4, 5, 6]

In [65]:
#21. Find the common elements between two lists.
l19 = input().split()
l19 = [int(numm) for numm in l19]
l20 = input().split()
l20 = [int(numm) for numm in l20]
lenl19 = len(l19)
lenl20 = len(l20)
l21 =[]
nur = 0
for i in range(0,lenl19):
    for j in range(0,lenl20):
        if l19[i] == l20[j]:
            nur = l19[i]
            l21.append(nur)
print(l21)

 1 2 3 4 5
 5 6 7 8 1

[1, 5]

In [70]:
#22. Find the difference between two lists.
l22 = input().split()
l22 = [int(numm) for numm in l22]
l23 = input().split()
l23 = [int(numm) for numm in l23]
l24 =[]
for num in l22:
    if num not in l23:
        l24.append(num)
for num in l23:
    if num not in l22:
        l24.append(num)
print(l24)

 1 2 3 4 5
 5 6 7 8 9

[1, 2, 3, 4, 6, 7, 8, 9]

In [71]:
#23. Merge two lists.
l25 = input().split()
l25 = [int(numm) for numm in l25]
l26 = input().split()
l26 = [int(numm) for numm in l26]
l27 = l25 + l26
print(l27)

 1 2 3 4 5
 6 7 8 9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
#24. Multiply all elements in a list by 2. 
l28 = input().split()
l28 = [int(num) for num in l28]
l29 = []
for num in l28:
    num = num *2
    l29.append(num)
print(l29)

 1 2 3 4 5 6

[2, 4, 6, 8, 10, 12]

In [75]:
#25. Filter out all even numbers from a list.
l30 = input().split()
l30 = [int(num) for num in l30]
lenl30 = len(l30)
l31=[]
nue = 0
for i in range(0,lenl30):
    if l30[i]%2==0:
        nue = l30[i]
        l31.append(nue)
print(l31)

 1 2 3 4 5 6 7 8 9

[2, 4, 6, 8]

In [77]:
#26. Convert a list of strings to a list of integers.
l32 = input().split()
print(l32)
l32 = [int(num) for num in l32]
print(l32)

 1 2 3 4 5 6 7 8 9

['1', '2', '3', '4', '5', '6', '7', '8', '9']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
#27. Convert a list of integers to a list of strings.
l33 = input().split()
l33 = [str(num) for num in l33]
print(l33)

 1 2 3 4 5 6 7 8 9

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [83]:
#28. Flatten a nested list.
l34 = [[1,2,3],[4,5,6],[7,8,9]]
l35 = [item for sublist in l34 for item in sublist]
print(l35)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
#29. Create a list of the first 10 Fibonacci numbers.
fibo = [0,1]
for i in range (2,10):
    nuf = fibo[i-1] + fibo[i-2]
    fibo.append(nuf)
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [96]:
#30. Check if a list is sorted.
l36 = input().split()
l36 = [int(num) for num in l36]
l37 = sorted(l36)
print(l37)
if l36 == l37:
    print('Sorted')
else:
    print('Not Sorted')

 1 2 3 4 5 6

[1, 2, 3, 4, 5, 6]
Sorted

In [104]:
#31. Rotate a list to the left by `n` positions.
l38 = input().split()
l38 = [int(num) for num in l38]
lenl38 = len(l38)
ind = int(input()) %lenl38
l39 = l38[ind:] + l38[:ind]
print(l39)

 1 2 3 4 5 6 7 8 9
 5

[6, 7, 8, 9, 1, 2, 3, 4, 5]

In [114]:
#32. Rotate a list to the right by `n` positions.
l40 = input().split()
l40 = [int(num) for num in l40]
lenl40 = len(l40)
inde = int(input()) %lenl40
l41 = l40[-inde:] + l40[:-inde]
print(l41)

 1 2 3 4 5 6 7 8 9
 5

[5, 6, 7, 8, 9, 1, 2, 3, 4]

In [42]:
#33. Create a list of prime numbers up to 50.
p = []
for np in range(2,51):
    isprime = True
    for i in range(2,int(np**0.5)+1):
        if np%(i) == 0:
            isprime = False
            break
    if isprime:
            p.append(np)

print(p)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [14]:
#34. Split a list into chunks of size `n`.
chunk = []
numc = int(input())
strchk = input().split()
strchk = [int(num) for num in strchk]
lend = len(strchk)
for i in range (0,lend,numc):
    chuk = strchk[i:i+numc]
    chunk.append(chuk)
print(chunk)

 3
 1 2 3 4 5 6

[[1, 2, 3], [4, 5, 6]]

In [121]:
#35. Find the second largest number in a list.
l42 = input().split()
l42 = [int(num) for num in l42]
lenl42 = len(l42)
for i in range(lenl42):
    for j in range(0,lenl42-i-1):
        if l42[j]>l42[j+1]:
            l42[j],l42[j+1] = l42[j+1],l42[j]
print(l42[-2])

 1 6 3 5 9 8 4 2 7

8

In [124]:
#36. Replace every element in a list with its square.
l43 = input().split()
l43 = [int(num) for num in l43]
lenl43 = len(l43)
for i in range(0,lenl43):
    l43[i] *= l43[i]
print(l43)

 1 6 3 5 9 8 2 4 7

[1, 36, 9, 25, 81, 64, 4, 16, 49]

In [3]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values. 
freq1 = {}
stl1 = input().split()
for word in stl1:
    if word in freq1:
        freq1[word] +=1
    else:
        freq1[word] =1
print(freq1)

 My name is Vineet is name My is Vineet

{'My': 2, 'name': 2, 'is': 3, 'Vineet': 2}

In [127]:
#38. Shuffle the elements of a list randomly.
import random
l44 = input().split()
l44 = [int(num) for num in l44]
random.shuffle(l44)
print(l44)

 1 6 9 5 8 4 3 7

[4, 5, 7, 6, 3, 1, 9, 8]

In [132]:
#39. Create a list of the first 10 factorial numbers.
import math
l45 = []
for i in range(1,11):
    f = math.factorial(i)
    l45.append(f)
print(l45)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [146]:
#40. Check if two lists have at least one element in common.
l46 = input().split()
l46 = [int(num) for num in l46]
l47 = input().split()
l47 = [int(num) for num in l47]
cf = False
for  num in l46:
    if num in l47:
        cf = True
        break
if cf :
    print("Common element")
else:
    print('No common element')

 1 2 3 4
  4 5 6 7

Common element

In [148]:
#41. Remove all elements from a list.
l47 = input().split()
l47 = [int(num) for num in l47]
print(l47)
l47.clear()
print(l47)

 1 2 3 4 5 6

[1, 2, 3, 4, 5, 6]
[]

In [153]:
#42. Replace negative numbers in a list with 0.
l48 = input().split()
l48 = [int(num) for num in l48]
lenl48 = len(l48)
for i in range(0,lenl48):
    if l48[i] <= 0:
        l48[i] = 0
print(l48)

 1 -9 6 -8 6

[1, 0, 6, 0, 6]

In [155]:
#43. Convert a string into a list of words.
l49 = input().split(' ')
print(l49)

  My name is Vineet Bhoge

['', 'My', 'name', 'is', 'Vineet', 'Bhoge']

In [156]:
#44. Convert a list of words into a string.
l50 = ['My', 'name', 'is', 'Vineet', 'Bhoge']
ls = ' '.join(l50)
print(ls)

My name is Vineet Bhoge

In [158]:
#45. Create a list of the first `n` powers of 2.
n = int(input())
l51 = []
po = 0
for i in range(1,n):
    po = 2**i
    l51.append(po)
print(l51)

 9

[2, 4, 8, 16, 32, 64, 128, 256]

In [160]:
#46. Find the longest string in a list of strings.
l52 = input().split()
lenr = ' '
for string in l52:
    if len(lenr) < len(string):
        lenr = string
print(lenr)

 My name is Vineet

Vineet

In [165]:
#47. Find the shortest string in a list of strings.
l53 = input().split()
lens = '             '
for string in l52:
    if len(lens) > len(string):
        lens = string
print(lens)

 My Vineet Bhog

My

In [172]:
#48. Create a list of the first `n` triangular numbers.
l54 = []
numt = int(input())
for i in range(1,numt):
           tn =  (i*(i+1))/2
           l54.append(tn)
print(l54)

 9

[1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0]

In [68]:
#49. Check if a list contains another list as a subsequence.
sl = [1, 2]
ml = [1, 2, 3, 4]
lensl = len(sl)

if lensl == 0:
    print('Subsequence')
else:
    subindx = 0
    for item in ml:
        if item == sl[subindx]:
            subindx += 1
            if subindx == lensl: 
                print('Subsequence')
                break
    else:
        print('Not a subsequence')

Subsequence

In [174]:
#50. Swap two elements in a list by their indices.
l55 = input().split()
l55 = [int(num) for num in l55]
ind1 = int(input())
ind2 = int(input())
x,y = 0,0
x,y = l55[ind1],l55[ind2] 
l55[ind1],l55[ind2] = y,x
print(l55)

 1 2 3 4 5 6 7 8 9
 3
 7

[1, 2, 3, 8, 5, 6, 7, 4, 9]

In [15]:
# Tuple Based Practice Problem

In [18]:
#1. Create a tuple with integers from 1 to 5.
l56=[]
for i in range(1,6):
    l56.append(i)
print(tuple(l56))

(1, 2, 3, 4, 5)

In [20]:
#2. Access the third element of a tuple.
t1 = (1, 2, 3, 4, 5)
l57 = list(t1)
print(l57[2])

3

In [22]:
#3. Find the length of a tuple without using the `len()` function.
t2 = (1, 2, 3, 4, 5)
l58 = list(t2)
count = 0
for word in l58:
    count = count+1
print(count)

5

In [23]:
#4. Count the occurence of an element in a tuple.
t2 = (1, 2, 3, 4, 5, 3, 6, 3)
ele2 = int(input())
t2.count(ele2)

 3

3

In [24]:
#5. Find the index of the first occurrence of an element in a tuple.
t3 = (1, 2, 3, 4, 5, 3, 6, 3)
ele3 = int(input())
t2.index(ele3)

 2

1

In [26]:
#6. Check if an element exists in a tuple.
t4 = (1, 2, 3, 4, 5, 3, 6, 3)
ele4 = int(input())
if t2.index(ele4):
    print('Exists')
else:
    print('Not Exists')

 6

Exists

In [27]:
#7. Convert a tuple to a list.
t5 = (1, 2, 3, 4, 5, 3, 6, 3)
l59 = list(t5)
print(l59)

[1, 2, 3, 4, 5, 3, 6, 3]

In [29]:
#8. Convert a list to a tuple.
l60 = [1, 2, 3, 4, 5, 3, 6, 3]
t6 = tuple(l60)
print(t6)

(1, 2, 3, 4, 5, 3, 6, 3)

In [31]:
#9. Unpack the elements of a tuple into variables.
t100 = (1,2,3)
a,b,c = t100
print(a)
print(b)
print(c)

1
2
3

In [31]:
#10. Create a tuple of even numbers from 1 to 10.
l61=[]
for i in range(1,10):
    if i%2 == 0:
        l61.append(i)
print(tuple(l61))

(2, 4, 6, 8)

In [32]:
#11. Create a tuple of odd numbers from 1 to 10.
l62=[]
for i in range(1,10):
    if i%2 != 0:
        l62.append(i)
print(tuple(l62))

(1, 3, 5, 7, 9)

In [33]:
#12. Concatenate two tuples.
t6 = (1, 2, 3, 4, 5, 3, 6, 3)
t7 = (9, 6, 3, 2, 4, 8)
t8 = t6+t7
print(t8)

(1, 2, 3, 4, 5, 3, 6, 3, 9, 6, 3, 2, 4, 8)

In [34]:
#13. Repeat a tuple three times.
t8 = (9, 6, 3, 2, 4, 8)
t8 = t8*3
print(t8)

(9, 6, 3, 2, 4, 8, 9, 6, 3, 2, 4, 8, 9, 6, 3, 2, 4, 8)

In [1]:
#14. Check if a tuple is empty.
t9 = ()
if t9 == ():
    print('Tuple is empty')
else:
    print('Tuple')

Tuple is empty

In [3]:
#15. Create a nested tuple.
t10 = (1,2,3)
t11 = ('a' , 'b' , 'c')
t12 = (t10,t11)
print(t12)

((1, 2, 3), ('a', 'b', 'c'))

In [5]:
#16. Access the first element of a nested tuple.
t13 = ((1,2,3),('a','b','c'))
print(t13[0][0])

1

In [8]:
#17. Create a tuple with a single element.
t14 = (42,)
print(t14)

(42,)

In [9]:
#18. Compare two tuples.
t15 = (1,2,3)
t16 = (1,2,3)
if t15 == t16:
    print('Same')
else:
    print('Not same')

Same

In [12]:
#19. Delete a tuple.
t17 = (1,2,3)
del t17
try:
    print(t17)
except NameError:
    print(f'Deleted')

Deleted

In [13]:
#20. Slice a tuple.
t18 = (1,2,3,4,5,6,7,8)
t19 = t18[0:3]
print(t19)

(1, 2, 3)

In [16]:
#21. Find the maximum value in a tuple.
t20 = (7,5,8,2,9)
lt20 = len(t20)
max = 0
for i in range(0,lt20):
    if max < t20[i]:
        max = t20[i]
print(max)

9

In [22]:
#22. Find the minimum value in a tuple.
t21 = (7,5,8,2,9)
lt21 = len(t21)
min = t21[0]
for i in range(0,lt21):
    if min > t21[i]:
        min = t21[i]
print(min)

2

In [27]:
#23. Convert a string to a tuple of characters.
stt = 'Vineet Bhoge'
t22 = tuple(stt)
print(t22)

('V', 'i', 'n', 'e', 'e', 't', ' ', 'B', 'h', 'o', 'g', 'e')

In [35]:
#24. Convert a tuple of characters to a string.
t23 = ('a','b','c','d')
strt = ''.join(t23)
print(strt)

abcd

In [37]:
#25. Create a tuple from multiple data types.
t24 = (1,2,3,'a','b','c',True,False)
print(t24)

(1, 2, 3, 'a', 'b', 'c', True, False)

In [39]:
#26. Check if two tuples are identical.
t25 = (1,2,3)
t26 = (1,2,3)
if t15 == t16:
    print('Same')
else:
    print('Not same')

Same

In [40]:
#27. Sort the elements of a tuple.
t27 = (1,8,4,0,7,6)
st = set(t27)
t28 = tuple(st)
print(t28)

(0, 1, 4, 6, 7, 8)

In [48]:
#28. Convert a tuple of integers to a tuple of strings.
t29 = (1,2,3,4)
t30 = tuple(str(i) for i in t29)
print(t30)

('1', '2', '3', '4')

In [49]:
#29. Convert a tuple of strings to a tuple of integers.
t31 = ('1', '2', '3', '4')
t32 = tuple(int(i) for i in t31)
print(t32)

(1, 2, 3, 4)

In [50]:
#30. Merge two tuples.
t33 = (1,2,3)
t34 = ('a','b','c')
t35 = t33+t34
print(t35)

(1, 2, 3, 'a', 'b', 'c')

In [64]:
#31. Flatten a nested tuple.
t36 = ((1, 2, 3), ('a', 'b', 'c'))
t37= []
for subtuple in t36:
    t37.extend(subtuple)
t38 = tuple(t37)
print(t38)

(1, 2, 3, 'a', 'b', 'c')

In [61]:
#32. Create a tuple of the first 5 prime numbers.
p = []
for nt in range(2,51):
    pri = True
    for i in range(2,int(nt**0.5)+1):
        if nt % i == 0:
            pri = False
            break
    if pri:
        p.append(nt)
p100 = p[0:5]
p111 = tuple(p100)
print(p111)

(2, 3, 5, 7, 11)

In [69]:
#33. Check if a tuple is a palindrome.
t38 = (1,2,3,2,1)
if t38 == t38[::-1]:
    print('Palindrome')
else:
    print('Not Palindrome')

Palindrome

In [74]:
#34. Create a tuple of squares of numbers from 1 to 5.
t39 = []
for i in range(1,6):
    t39.append(i*i)
t40 = tuple(t39)
print(t40)

(1, 4, 9, 16, 25)

In [80]:
#35. Filter out all even numbers from a tuple.
t41 = (1,2,3,4,5,6,7,8,9)
t42 = tuple(i for i in t41 if i%2==0)
print(t42)

(2, 4, 6, 8)

In [83]:
#36. Multiply all elements in a tuple by 2.
t43 = (1,2,3,4,5)
t44 = tuple( i*i for i in t43)
print(t44)

(1, 4, 9, 16, 25)

In [90]:
#37. Create a tuple of random numbers.
import random
t45 = tuple(random.randint(0, 100) for _ in range(0,5))
print(t45)

(73, 1, 26, 59, 62)

In [95]:
#38. Check if a tuple is sorted.
t46 = (1,5,3,9)
t47 = tuple(sorted(t46))
if t46 == t47:
    print(f'sort')
else:
    print(f'not sort')

not sort

In [106]:
#39. Rotate a tuple to the left by `n` positions.
t48 = (1,2,3,4,5,6,7,8,9,0)
ind = int(input())
t49 = t48[ind:] + t48[0:ind]
print(t49)

 4

(5, 6, 7, 8, 9, 0, 1, 2, 3, 4)

In [111]:
#40. Rotate a tuple to the right by `n` positions.
t50 = (1,2,3,4,5,6,7,8,9,0)
ind1 = int(input())
t51 = t48[-ind:] + t48[:-ind]
print(t51)

 2

(7, 8, 9, 0, 1, 2, 3, 4, 5, 6)

In [2]:
#41. Create a tuple of the first 5 Fibonacci numbers.
fib= [0,1]
for i in range(2,5):
    nu = fib[i-1] + fib[i-2]
    fib.append(nu)
print(fib)

[0, 1, 1, 2, 3]

In [5]:
#42. Create a tuple from user input.
t52 = tuple(input())
print(t52)

 My name is Nico Williams

('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'N', 'i', 'c', 'o', ' ', 'W', 'i', 'l', 'l', 'i', 'a', 'm', 's')

In [10]:
#43. Swap two elements in a tuple.
t53 = (1,2,3,4,5,6,7,8,9)
in1 = int(input())
in2 = int(input())
t54 = list(t53)
x,y = t54[in1],t54[in2] 
t54[in1],t54[in2] = y,x
t55 = tuple(t54)
print(t55)

 5
 1

(1, 6, 3, 4, 5, 2, 7, 8, 9)

In [11]:
#44. Reverse the elements of a tuple.
t56 = (1,2,3,4,5,6,7,8,9)
t57 = t56[::-1]
print(t57)

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [14]:
#45. Create a tuple of the first `n` powers of 2
n = int(input())
t58 = tuple(2**i for i in range(0,n))
print(t58)

 6

(1, 2, 4, 8, 16, 32)

In [15]:
#46. Find the longest string in a tuple of strings.
t59 = ('My' , 'Name' , 'is' , 'Vineet' , 'Bhoge')
stl = ' '
for string in t59:
    if len(stl) < len(string):
        stl = string
print(stl)

Vineet

In [16]:
#47. Find the shortest string in a tuple of strings.
t60 = ('My' , 'Name' , 'is' , 'Vineet' , 'Bhoge')
stll = '     '
for string in t60:
    if len(stll) > len(string):
        stl = string
print(stl)

is

In [17]:
#48. Create a tuple of the first `n` triangular numbers.
t61 = []
nuu = int(input())
for i in range(0,nuu):
    tnu=  (i*(i+1))/2
    t61.append(tnu)
print(tuple(t61))

 5

(0.0, 1.0, 3.0, 6.0, 10.0)

In [1]:
#49. Check if a tuple contains another tuple as a subsequence.
sl = (1, 2)
ml = (1, 2, 3, 4)
lensl = len(sl)

if lensl == 0:
    print('Subsequence')
else:
    subindx = 0
    for item in ml:
        if item == sl[subindx]:
            subindx += 1
            if subindx == lensl: 
                print('Subsequence')
                break
    else:
        print('Not a subsequence')

Subsequence

In [20]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
na = int(input())
t62 = tuple((i % 2) for i in range(n))
print(t62)

 3

(0, 1, 0, 1, 0, 1)

In [21]:
#Set Based Practice Problem

In [24]:
#1. Create a set with integers from 1 to 5.
s1 = {i for i in range(0,5)}
print(s1)

{0, 1, 2, 3, 4}

In [27]:
#2. Add an element to a set.
s2 = {0, 1, 2, 3, 4}
ae = int(input())
s2.add(ae)
print(s2)

 8

{0, 1, 2, 3, 4, 8}

In [30]:
#3. Remove an element from a set.
s3 = {0, 1, 2, 3, 4, 8}
ar = int(input())
s3.discard(ar)
print(s3)

 4

{0, 1, 2, 3, 8}

In [32]:
#4. Check if an element exists in a set.
s4 = {0, 1, 2, 3, 8}
s5 = int(input())
if s5 in s4:
    print('Present')
else:
    print('Not Present')

 2

Present

In [33]:
#5. Find the length of a set without using the `len()` function.
s6 = {0, 1, 2, 3, 8}
c=0
for element in s6:
    c = c+1
print(c)

5

In [36]:
#6. Clear all elements from a set.
s7 = {0, 1, 2, 3, 8}
s7.clear()
print(s7)

set()

In [46]:
#7. Create a set of even numbers from 1 to 10.
s8 = {i for i in range(1,11) if i%2==0 }
print(s8)

{2, 4, 6, 8, 10}

In [47]:
#8. Create a set of odd numbers from 1 to 10.
s9 = {i for i in range(1,11) if i%2!=0 }
print(s9)

{1, 3, 5, 7, 9}

In [49]:
#9. Find the union of two sets.
s10 = {1,2,3,4,5}
s11 = {4,5,6,7,8}
s12 = s10.union(s11)
print(s12)

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
#10. Find the intersection of two sets.
s13 = {1,2,3,4,5}
s14 = {4,5,6,7,8}
s15 = s13.intersection(s14)
print(s15)

{4, 5}

In [58]:
#11. Find the difference between two sets.
s16 = {1,2,3,4,5}
s17 = {4,5,6,7,8}
s18 = s16.difference(s17)
s19 = s17.difference(s16)
s20 = s19.union(s18)
print(s20)

{1, 2, 3, 6, 7, 8}

In [63]:
#12. Check if a set is a subset of another set.
s21 = {4,5}
s22 = {4,5,6,7,8}
s21.issubset(s22)

True

In [64]:
#13. Check if a set is a superset of another set.
s24 = {4,5}
s23 = {4,5,6,7,8}
s23.issuperset(s24)

True

In [65]:
#14. Create a set from a list.
l100 = [1,2,3,4,5]
s24 = set(l100)
print(s24)

{1, 2, 3, 4, 5}

In [66]:
#15. Convert a set to a list.
s25 = {1, 2, 3, 4, 5}
l101 = list(s25)
print(l101)

[1, 2, 3, 4, 5]

In [67]:
#16. Remove a random element from a set.
import random
s26 = set(random.randint(0, 100) for _ in range(0,5))
print(s26)

{71, 74, 12, 19, 85}

In [70]:
#17. Pop an element from a set.
s27 = {71, 74, 12, 19, 85}
s27.pop()
print(s27)

{85, 71, 74, 12}

In [72]:
#18. Check if two sets have no elements in common.
s28 = {71, 74, 12, 19, 85}
s29 = {1, 2, 3, 4, 5}
s28.isdisjoint(s29)

True

In [76]:
#19. Find the symmetric difference between two sets.
s30 = {1,2,3,4}
s31 = {3,4,5,6}
s32 = s30.symmetric_difference(s31)
print(s32)

{1, 2, 5, 6}

In [29]:
#20. Update a set with elements from another set.
s88 = {1,2}
s89 = {3,4}
s88.update(s89)
print(s88)

{1, 2, 3, 4}

In [62]:
#21. Create a set of the first 5 prime numbers.
p = []
for nt in range(2,51):
    pri = True
    for i in range(2,int(nt**0.5)+1):
        if nt % i == 0:
            pri = False
            break
    if pri:
        p.append(nt)
p100 = p[0:5]
p111 = set(p100)
print(p111)

{2, 3, 5, 7, 11}

In [79]:
#22. Check if two sets are identical.
s33 = {1,2,3,4}
s34 = {1,2,3,4}
if s33 == s34:
    print('Identical')
else:
    print('Not Identical')

Identical

In [81]:
#23. Create a frozen set.
s35 = frozenset[(1,2,3,4,5)]
print(s35)

frozenset[1, 2, 3, 4, 5]

In [84]:
#24. Check if a set is disjoint with another set.
s36 = {1,2,3}
s37 = (4,5)
s36.isdisjoint(s37)

True

In [88]:
#25. Create a set of squares of numbers from 1 to 5.
s38 = {i*i for i in range(1,6)}
print(s38)

{1, 4, 9, 16, 25}

In [94]:
#26. Filter out all even numbers from a set.
s39 = {1,2,3,4,5,6,7,8,9,10}
s40 = {i for i in s39 if i%2==0}
print(s40)

{2, 4, 6, 8, 10}

In [95]:
#27. Multiply all elements in a set by 2.
s41 = {1,2,3,4,5,6,7,8,9,10}
s42 = {i*2 for i in s39}
print(s42)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [96]:
#28. Create a set of random numbers.
import random
s43 = set(random.randint(0, 100) for _ in range(0,5))
print(s43)

{37, 5, 38, 72, 12}

In [98]:
#29. Check if a set is empty.
s44 = {}
s45 = {}
if s44 == s45:
    print(f'empty')
else:
    print(f'not empty')

empty

In [30]:
#30. Create a nested set (hint: use frozenset). 90
s91 = frozenset({1, 2})
s92 = frozenset({3, 4})
nested_set = {s91, s92}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [100]:
#31. Remove an element from a set using the discard method.
s46 = {1,2,3,4,5}
s47 = int(input())
s46.discard(s47)
print(s46)

 4

{1, 2, 3, 5}

In [101]:
#32. Compare two sets.
s48 = {1,2,3,4}
s49 = {7,8,9,0}
if s48 == s49:
    print(f'same set')
else:
    print(f'not same')

not same

In [102]:
#33. Create a set from a string.
s50 = 'Vineet Bhoge'
s51 = set(s50)
print(s51)

{'o', ' ', 'i', 'g', 'B', 'n', 'V', 'h', 't', 'e'}

In [109]:
#34. Convert a set of strings to a set of integers.
s52 = {'1','2','3','4'}
s53 = {int(i) for i in s52}
print(s53)

{1, 2, 3, 4}

In [110]:
#35. Convert a set of integers to a set of strings.
s54 = {1, 2, 3, 4}
s55 = {str(i) for i in s54}
print(s55)

{'1', '2', '3', '4'}

In [114]:
#36. Create a set from a tuple.
s56 = (1,2,3,4,5)
s57 = set(s56)
print(s57)

{1, 2, 3, 4, 5}

In [115]:
#37. Convert a set to a tuple.
s58 = {1, 2, 3, 4, 5}
s59 = tuple(s58)
print(s59)

(1, 2, 3, 4, 5)

In [119]:
#38. Find the maximum value in a set.
s58 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
s59 = max(s58)
print(s59)

9

In [121]:
#39. Find the minimum value in a set.
s60 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
s61 = min(s60)
print(s61)

1

In [122]:
#40. Create a set from user input.
s62 = set(input())
print(s62)

 1 2 3 vineet

{'1', ' ', 'i', 'n', '2', 'v', '3', 't', 'e'}

In [123]:
#41. Check if the intersection of two sets is empty.
s63 = {1,2,3}
s64 = (4,5)
s63.isdisjoint(s64)

True

In [124]:
#42. Create a set of the first 5 Fibonacci numbers.
fibb= [0,1]
for i in range(2,5):
    nub = fibb[i-1] + fibb[i-2]
    fibb.append(nub)
print(set(fibb))

{0, 1, 2, 3}

In [125]:
#43. Remove duplicates from a list using sets.
s65 = [1,2,3,4,3,2,1]
s67 = set(s65)
print(s67)

{1, 2, 3, 4}

In [38]:
#44. Check if two sets have the same elements, regardless of their count.
s100 = {1, 2, 2, 3}
s101 = {3, 1, 2, 2}
s110 = set(s100)
s111 = set(s101)
are_equal = s110 == s111
print(are_equal)

True

In [127]:
#45. Create a set of the first `n` powers of 2.
ns = int(input())
s68 = set(2**i for i in range(0,ns))
print(s68)

 5

{1, 2, 4, 8, 16}

In [5]:
#46. Find the common elements between a set and a list.
s69 ={1,2,3,4,5}
s70 = [4,5,6,7,8]
s80 = []
for element in s69:
    if element in s70:
        s80.append(element)
print(s80)

[4, 5]

In [17]:
#47. Create a set of the first `n` triangular numbers.
s81 = []
ns = int(input())
for i in range(0,ns):
    ts = (i*(i+1))/2
    s81.append(ts)
print(set(s81))

 5

{0.0, 1.0, 3.0, 6.0, 10.0}

In [18]:
#48. Check if a set contains another set as a subset.
s82 = {1,2,3}
s83 = (1,2,3,4,5)
s82.issubset(s83)

True

In [20]:
#49. Create a set of alternating 1s and 0s of length `n`.
nss = int(input())
s84 = set((i % 2) for i in range(nss))
print(s84)

 7

{0, 1}

In [27]:
#50. Merge multiple sets into one.
s85 = {1,2,3}
s86 = {4,5,6}
s87 = {7,8,9}
ms = s85.union(s86).union(s87)
print(ms)

{1, 2, 3, 4, 5, 6, 7, 8, 9}